*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    overflow: auto;
    clear: both;
}

.widget-container-full, .widget-container-half{
    width: 95vw;
}

.header{
    grid-area: header;
}

.navigation-bar{
    grid-area: navigation;
}

.main-content{
    grid-area: main;
}

.grid-container{
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header header"
        "navigation main";
}

.main-content{
    grid-template-columns: 50%;
}

.traffic, .social{
    grid-column: 1 / span 2;
}

.daily, .members, .message{
    grid-column: 1 / span 1;
}

.mobile, .activity, .settings{
    grid-column: 2 / span 1;
}

.widget-container-full{
    width: 90vw;
}

.widget-container-half{
    width: 45vw;
}

.header svg{
    fill: white;
}

.header img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.header{
    background-color: rgb(115, 119, 191);
    color: white;
    display: flex;
    align-items: center;
    height: 70px;
}

.header h1{
    flex: 1 1 auto;
    margin-left: 20px;
}

.notification-menu{
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}

.notification-menu svg{
    border-right: 1px solid white;
    margin-right: 10px;
    padding-right: 10px;
}

.notification-menu h3{
    margin-right: 20px;
}

.navigation-bar{
    background-color: rgb(115, 119, 191);
}

.navigation-bar a img{
    width: 40px;
}

.navigation-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 64px;
    height: 100%;
}

.navigation-bar a{
    display: flex;
    flex: 0 0 64px;
}