*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    overflow: auto;
    clear: both;
}

.widget-container-full, .widget-container-half{
    width: 95vw;
}

.header{
    grid-area: header;
}

.navigation-bar{
    grid-area: navigation;
}

.main-content{
    grid-area: main;
}


.header{
    background-color: rgb(115, 119, 191);
    color: white;
}

@media (min-width: 768px){
    
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    .main-content{
        grid-template-columns: 50%;
    }

    .traffic, .social{
        grid-column: 1 / span 2;
    }

    .daily, .members, .message{
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings{
        grid-column: 2 / span 1;
    }

    .widget-container-full{
        width: 90vw;
    }

    .widget-container-half{
        width: 45vw;
    }

    .header svg{
        fill: white;
    }
}