*{
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
}

.clearfix{
    overflow: auto;
    clear: both;
}

.widget-container-full, .widget-container-half{
    width: 95vw;
}

.header{
    grid-area: header;
}

.navigation-bar{
    grid-area: navigation;
}

.main-content{
    grid-area: main;
}

.grid-container{
    display: grid;
    color: rgb(106, 105, 105);
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 1fr;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

.main-content{
    grid-template-columns: 50%;
}

.traffic, .social{
    grid-column: 1 / span 2;
}

.daily, .members, .message{
    grid-column: 1 / span 1;
}

.mobile, .activity, .settings{
    grid-column: 2 / span 1;
}   

.header svg{
    fill: white;
    padding-right: 5px;
}

.header img{
    width: 25px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.header{
    background-color: rgb(115, 119, 191);
    color: white;
    display: flex;
    align-items: center;
}

.header h1{
    flex: 1 1 auto;
    font-size: 1.5em;
    margin-left: 5px;
}

.notification-menu{
    flex: 0 1 auto;
    display: flex;
    align-items: center;
}

.notification-menu h3{
    font-size: 1em;
    margin-right: 5px;
}

.notification-menu svg{
    border-right: 1px solid white;  
}

.navigation-bar{
    background-color: rgb(77, 76, 114);
    padding: 10px;
}

.navigation-bar a img{
    width: 30px;
}

.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65%;
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline{
    font-size: 1.5em;
    margin-left: 5px;
    color: rgb(106, 105, 105);
}

.input-header{
    width: 150px;
    padding-left: 6px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 3px;
    border-color: rgb(226, 226, 226);
}

.main-header-search{
    border-left: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    padding-left: 55px;
    padding-top: 10px;
    background-color: rgb(251, 251, 251);
}

.alert-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(115, 119, 191);
    border-radius: 5px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
}

.alert-banner-text{
    font-size: 0.9em;
    padding-left: 5px;
}

.alert-banner-close{
    font-size: 0.9em;
    padding-right: 5px;
}

.traffic-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.traffic-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.traffic-nav li{
    margin-right: 5px;
    font-size: 0.7em;
}

.traffic-header h3{
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 8px;
}

.traffic{
    margin-bottom: 20px;
}

.daily-content h3{
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 8px;
}

.daily{
    margin-bottom: 10px;
}

.mobile-content h3{
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1em;
}

.mobile-content{
    margin-bottom: 15px;
}

.social-svg{
    background-color: rgb(115, 119, 191);
    width: 40px;
    border-radius: 50%;
}

.social-title{
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 8px;
    margin-top: 10px;
    margin-left: 5px;
}

.social-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-wrapper{
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(251, 251, 251);
    margin-bottom: 20px;
    padding: 4px;
    flex-grow: 1;
    margin-right: 5px;
}

.social-name{
    font-size: 0.7em;
}

.social-number{
    font-size: 1.4em;
}

.col1{
    margin-left: 5px;
}

.profile-image{
    width: 45px;
    border-radius: 50%;
}

.members h3,
.activity h3{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 1em;
}

.members-container,
.activity-container{
    display: flex;
    margin-left: 5px;
    font-size: 0.9em;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.date{
    margin-left: auto;
    margin-right: 5px;
}

.members-text{
    margin-left: 5px;
}

.arrow{
    margin-left: auto;
    color: rgb(115, 119, 191);
    font-weight: 400;
    font-size: 1.5em;
    margin-right: 5px;
}

.message h3{
    margin-top: 10px;
    font-size: 1em;
}

.message{
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
}

.widget-container{
    display: flex;
    flex-direction: column;
}

.form-field,
.form-area,
.button-primary{
    border-radius: 4px;
    padding-left: 5px;
    margin-top: 10px;
}

.form-field{
    height: 25px;
}

.form-area{
    height: 70px;
}

.button-primary{
    background-color: rgb(115, 119, 191);
    color: white;
    border-style: none;
    height: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(115, 119, 191);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(115, 119, 191);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings h3{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1em;
}

.settings{
    margin-left: 5px;
}

.switch-section{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.switch{
    margin-left: auto;
    margin-right: 5px;
}

.options{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    margin-bottom: 30px;
}

.settings-button{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.form-time{
    margin-top: 25px;
    height: 25px;
    border-radius: 3px;
}

.second-button{
    height: 30px;
    flex-grow: 1;
    background-color: rgb(115, 119, 191);
    border-style: none;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 10px;
}

.button-disabled{
    height: 30px;
    background-color: gray;
    color: white;
    border-radius: 3px;
    border-style: none;
    font-size: 0.8em;
    text-transform: uppercase;
    flex-grow: 1;
    margin-left: 10px;
}

@media (min-width: 768px){
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    .header{
        padding-left: 30px;
        padding-right: 30px;
    }

    .main{
        grid-template-columns: 50%;
    }

    .traffic,
    .social{
        grid-column: 1 / span 2;
    }

    .daily,
    .members,
    .message{
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings{
        grid-column: 2 span 1;
    }

    .widget-container-full{
        width: 90vw;
    }

    .widget-container-half{
        width: 45vw;
    }

    .navigation-bar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
}
